@model IEnumerable<Jeeves.Web.Models.Temperature>
@{
    ViewBag.Title = "Dashboard";
}

<div class="container">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-check-square-o">&nbsp;</i>System OK</h3>
        </div>
        <div class="panel-body">
            Everything is running as expected!
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Timestamp</th>
                <th>Ambient Temp.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var temperature in Model)
            {
            <tr>
                <td>1</td>
                <td>@temperature.ReadDate</td>
                <td>@temperature.Reading</td>
            </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-xs-12 col-md-4"><h4>Light Status: <b>OFF</b></h4></div>
        <div class="col-xs-3 col-sm-1 col-md-1"><a href="#" class="btn btn-success btn-sm"><i class="fa fa-toggle-on"></i>&nbsp;ON</a></div>
        <div class="col-xs-1 col-md-1"><a href="#" class="btn btn-danger btn-sm"><i class="fa fa-toggle-off"></i>&nbsp;OFF</a></div>
    </div>
</div>
