@{
    ViewBag.Title = "Help";
}

<div class="container">
    
    <h1>Help</h1>
    <hr />

    <blockquote>
        <p>Any product that needs a manual to work is broken.</p>
        <small>Elon Musk</small>
    </blockquote>

    <h3 style="padding-top: 50px;">System Health</h3>
    <hr />

    <p>
        The Jeeves "System Health" notification box is a visual indicator of the overall health of your home.  
        When the box is <span class="text-success">GREEN</span>, this denotes that the home is within all of the accepted parameters.  
        If the box is <span class="text-danger">RED</span>, one or more of the parameters are out of range.  This generally means the home is
        too hot or too cold and needs to be adjusted.
    
    </p>

    <h3 style="padding-top: 50px;">Temperature Table</h3>
    <hr />

    <p>
        The temperature table shows how the temperature of the home has changed throughout the day.  The table shows the five most recent readings,
        and as the Jeeves devices submits more data, the table will be automatically updated.
    </p>
    <p>
        A temperature is generally read once every 30 minutes.
    </p>

    <h3 style="padding-top: 50px;">Light Status</h3>
    <hr />

    <p>
        The light status indicator shows the current status of the light that is attatched to the device (on or off).
        It also gives the user the ability to turn the light on or off by hitting the appropriate button.
    </p>

</div>
